/* body {
  background-color: black;
  border: 1px solid black;
} */
@media print {
  .no-print {
    display: none;
    visibility: hidden;
  }
}
#printableArea {
  box-sizing: content-box;
  display: flex;
  margin: auto;

  position: relative;
  /* border: 1px solid red; */
  max-width: fit-content;

  box-shadow: 0px 5px 15px 1px rgb(0, 0, 0), 0px 5px 15px 1px rgb(255, 255, 255);
}
/* #printableArea::after {
  content: "";
  position: absolute;
  top: 0;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  border: 1px solid greenyellow;
  height: 29.7cm;
  width: 21cm;
} */
.page {
  min-height: 29.7cm;
  width: 21cm;
  /* display: flex;
  flex-direction: column; */

  background-color: var(--color-white);
}
.button {
  width: 150px;
  height: 100%;
  padding: 6px 16px;
  background-color: goldenrod;
  border: 3px solid blueviolet;
  cursor: pointer;
  /* color: red; */
  position: relative;

  transition-property: scale, box-shadow, background-color;
  transition-duration: 250ms;
  transition-delay: 150ms;
}
.button-input {
  padding: 0;
}
.button:hover,
.button:focus {
  transition-delay: 0ms;
  background-color: rgb(240, 195, 83);
  scale: 1.05;
  box-shadow: inset 0 0 2px 1px blueviolet, 0 0 10px 3px black;
}
.button__text {
  padding: 6px 16px;
  color: black;
  width: 100%;
  height: 100%;
}
.button__icon {
  position: absolute;
  right: 0px;
  top: 0px;
  /* z-index: 2; */
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.page__header {
  background-color: var(--color-accented1);
  font-size: var(--font-page-title);
  /* flex-basis: 1.6em; */
  /* flex-grow: 0.1; */
  padding-top: 0.6em;
  padding-bottom: 0.6em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page__content {
  /* background-color: var(--color-white); */
  flex-basis: 25.7cm;
  flex-grow: 1;
  flex-wrap: wrap-reverse;
}
.page__content__main {
  flex-basis: 300px;
  flex-grow: 10;
  /* background-color: darkmagenta; */

  padding: 15px;
  /* gap: 15px; */

  justify-content: space-evenly;
}
.page__content__main > * {
  /* flex-grow: 1; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page__content__aside {
  background-color: var(--color-main);
  flex-grow: 1;
  flex-basis: 200px;
  /* background-color: aliceblue; */

  padding: 15px;
}
.page__footer {
  background-color: var(--color-accented1);
  /* flex-basis: 2cm; */
  /* flex-grow: 1; */
  font-size: var(--font-small);
  text-align: center;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.job-exp {
  gap: 5px;
}
.job-exp__title {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start; */
  width: 100%;
  padding: 5px;
  padding-left: 50px;

  background-color: var(--color-accented2);
  border-radius: 30px 30px 2px 2px;
}
.job-exp__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;

  background-color: var(--color-accented2);
  border-radius: 2px 2px 2px 2px;
}

.show--last {
  /* background-color: rgb(35, 163, 56) !important; */
  border-radius: 2px 2px 30px 30px;
}
.job-exp__container__item1 {
  text-align: center;
  width: min-content;
  font-size: var(--font-small);
  font-weight: 500;
}
.job-exp__container__item2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* width: fit-content; */
  /* margin: 10px; */
}
.job-exp__place {
  font-size: var(--font-normal);
  font-weight: 700;
}
.job-exp__position {
  font-size: var(--font-normal);
  font-weight: 500;
}
.job-exp__responsibilities {
  font-size: var(--font-small);
  font-weight: 400;
}
.basic-info {
  gap: 10px;
  font-size: var(--font-normal);
  justify-content: center;
  align-items: center;
}
.basic-info__item {
  font-size: var(--font-small);
}
.photo {
  background-image: url(../photo.jpg);
  background-size: cover;
  background-position: center;

  border-radius: 50%;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
