<a class="button" href="./index.html">Strona domowa</a>

<a class="button" href="./cv.html">Curiculum Vitae</a>

<a class="button" href="./magic.html">MTG scraper</a>

<a
  class="button"
  href="https://github.com/Wojciech-Jasinski/personal_hub"
  target="_blank"
>
  GitHub czyli repozytorium
  <img class="button__icon" src="../icons/new-tab.svg" width="16" height="16" />
</a>

<div class="button button-input">
  <input
    class="button__text"
    type="button"
    onclick="printDiv('printableArea')"
    value="Print the CV!
# u mnie 
ładnie drukuje"
  />
  <img class="button__icon" src="../icons/print.svg" width="16" height="16" />
</div>
